@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC);
@import url(http://fonts.googleapis.com/css?family=Ceviche+One);
@import url(http://fonts.googleapis.com/css?family=Cinzel);

body {
  background-image: url("../images/stars.jpg");
  background-size: cover;
}

h1 {
  color: olive;
  background-color: #ff0099;
  font-family: 'Playfair Display SC', serif;
  font-size: 30px;
  opacity: 0.5;
}

h4 {
  border: 1px solid red;
  padding: 5px;
  background-color: yellow;
  border-radius: 10px;
  letter-spacing: 3px;
  font-family: 'Ceviche One', cursive;
}

li {
  font-family: 'Cinzel', serif;
}

li:nth-child(2n) {
  color: red;
}

li:nth-child(2n + 1){
  color: blue;
}
