@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC);
@import url(http://fonts.googleapis.com/css?family=Ceviche+One);
@import url(http://fonts.googleapis.com/css?family=Cinzel);

body {
  background-image: url("../images/grey_wash_wall.png");
  background-size: cover;
}

h1 {
  color: #000035;
  background-color: olive;
  font-family: 'Playfair Display SC', serif;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}

h4 {
  border: 1px solid red;
  padding: 5px;
  background-color: yellow;
  border-radius: 10px;
  letter-spacing: 3px;
  font-family: 'Ceviche One', cursive;
}

li {
  font-family: 'Cinzel', serif;
  display: inline;
  padding: 10px
}

li:nth-child(2n) {
  color: red;
}

li:nth-child(2n + 1){
  color: blue;
}

.center {
  margin-right: 25%;
  margin-left: 25%;
}
